* {
  box-sizing: border-box;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  letter-spacing: 0.2px;
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
